
.find-us-page {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #333;
  padding-bottom: 50px;
}


.hero-section-findus {
  position: relative;
  width: 100%;
  height: 500px;
}

.hero-image-findus {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease-in-out;
}

.hero-section-findus:hover .hero-image-findus {
  transform: scale(1.05); 
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(255, 105, 180, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.hero-title-findus {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.hero-subtitle-findus {
  color: white;
  font-size: 1.5rem;
  margin-top: 15px;
  max-width: 800px;
  line-height: 1.5;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.animate-slide-up {
  animation: slideUp 1.2s ease-out;
}


.locations {
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
}

.section-title {
  font-size: 2rem;
  color: #f77f00;
  margin-bottom: 40px;
  position: relative;
}

.location {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.location:hover {
  transform: translateY(-10px);
}

.location h3 {
  color: #f77f00;
  font-size: 1.5rem;
}

.location-button {
  background-color: #f77f00;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-button:hover {
  background-color: #d66900;
}

.opening-hours {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}

.opening-hours p {
  font-size: 1.1rem;
  margin: 10px 0;
}
