body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.contact-container {
  background: url('C:\Users\Alphicho\restaurant-website-1\client\src\assets\misson.jpg') no-repeat center center fixed; 
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #3b2e2e; 
}

.contact-title {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.contact-description {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin-bottom: 30px;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #ff7f50; 
}

textarea {
  resize: vertical;
}

.submit-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff7f50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff6347; 
}
