/* App.css */
.landing-section {
  background-color: #fff4ea; /* Light background color */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-text {
  font-family: 'Lora', serif; /* Elegant serif font */
  color: #7eacb5; /* Teal color for text */
}

.welcome-text h1 {
  font-size: 2.5rem; /* Size for main heading */
}

.welcome-text h2 {
  font-size: 4rem; /* Size for brand name */
  color: #c96868; /* Coral color for brand name */
}

.welcome-text h3 {
  font-size: 2rem; /* Size for subtitle */
  color: #7eacb5; /* Teal color for subtitle */
}
